{% extends 'base.html.twig' %}

{% block title %}Utilisateur
	{{ user.firstName }}
	{{ user.lastName }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1>{{ user.firstName }}
			{{ user.lastName }}</h1>

		<div class="container col-lg-6 mt-lg-4 mx-auto pt-3 pb-3">
			<div class="container mb-2">

				<strong>#</strong>
				{{ user.id }}
				<br><strong>Prénom :</strong>
				{{ user.firstName}}
				<br><strong>Nom :</strong>
				{{ user.lastName }}
				<br><strong>Âge :</strong>
				{{ age }}
				ans
				<br><strong>Email :</strong>
				{{ user.email }}
				<br><strong>Adresse :</strong>
				{{ user.address }}
				<br><strong>Tél :</strong>
				{{ user.phone }}

				<br><strong>Possessions :</strong>
				<table class="table table-hover table-dark mt-1">
					<thead>
						<tr>
							<th scope="col">
								Nom
							</th>
							<th scope="col">
								Valeur
							</th>
							<th scope="col">
								Type
							</th>
						</tr>
					</thead>
					<tbody>
						{% for property in properties %}
							<tr>
								<td>{{ property.name }}</td>
								<td>
									{{ property.value }}
									€
								</td>
								<td>
									{{ property.type }}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</tr>
			</table>
		</div>
	</div>
	<div class="text-center">
		<a class="btn btn-info mb-2" href="{{ path('app_user_edit', {'id': user.id}) }}">
			<i class="bi bi-gear me-2"></i>Modifier les coordonnées</a>
		{{ include('user/_delete_form.html.twig') }}
		<a class="btn mt-2" href="{{ path('app_home') }}"></div>
		<i class="bi bi-arrow-return-left me-2"></i>Retour à la liste</a>
</div>{% endblock %}
